body{
    background-color: #191B1F;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}
.container{
    margin: 2vh auto;
    max-width: 98vw;
    overflow-y: hidden;
    height: 96%;
    display: grid;
    justify-content: start;
    grid-template-columns: 2fr 5fr;
    gap: 15px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.title_contain, .list{
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.title_contain{
    display: flex;
    flex-direction: column;
}
.title_head{
    display: flex;
    align-items: center;
    gap: 20px;
}
.city_input{
    padding: 10px;
    width: 100%;
    background-color: #C2D4D3;
    color: #7E7C7C;
    border-radius: 50px;
    outline: none;
    appearance: none;
    text-align: center;
}
.current_icon{
    display: flex;
    justify-content: center;
}
.current_icon_img{
    width: 70%;
}
.temp_c{
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
}
.city{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-weight: 700;
    font-size: 22px;
}
.city p{
    margin: 0;
}
.city_info{
    font-size: 16px;
}
.city_info_contain{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 1px;
}
.city_info_contain p{
    margin: 0;
}
.city_info_weather{
    width: 22px;
    height: 30px;
}
.city_footer{
    padding: 15px;
    background-color: rgba(37, 34, 34, 0.65);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 1) 4px 9px 8px -6px;
}
.city_footer img{
    width: 75%;
}
.city_footer h6{
    font-size: 20px;
}
.city_footer_humidity, .city_footer_wild{
    display: flex;
}
.city_footer_humidity_text, .city_footer_wild_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.city_footer_humidity_text h6, .city_footer_humidity_text p,
.city_footer_wild_text h6, .city_footer_wild_text p{
    margin: 0;
}


/*SECTION lIST*/
.list_title, .list_container_title{
    margin-bottom: 30px;
}
.list_title a:focus, a:active{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: white;
}
.list_of_week_contents{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}
.list_of_week_content p{
    margin: 0;
}
.list_of_week_content{
    padding: 10px;
    background-color: rgba(37, 34, 34, 0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 1) 4px 9px 8px -6px;
}
.list_container{
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(2, 1fr);

}
.list_container_infos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.list_container_info, .list_graphic{
    padding: 10px;
    background-color: rgba(37, 34, 34, 0.65);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 1) 4px 9px 8px -6px;
}
.list_container_info p, .list_graphic p, .sun_times p,
.list_graphic h5, .sun_times h6{
    margin: 0;
}
.list_graphics{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.sun_times{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sunrise, .sunset{
    display: flex;
    gap: 15px;
}
.sunset_contain, .sunrise_contain{
    color: #6A6969;
}